*, body {
	font-family: Open Sans;
	text-align: center;
	margin: 0;
	color: #141414;
	letter-spacing: 2px;
}



img {
	width: 100%;
}

a {
	text-decoration: none;
	color: #F9F9F9;
}

a:hover {
	text-decoration: underline;
}

.logo {
	width: 100px;
}

.nav {
	height: 100px;
	background-color: #141414;
	position: absolute;
	width: 100%;
}

.hero {
	background-color: #F9F9F9;
	height: 1000px
}

.title {
	font-size: 50px;
	font-weight: 100px;
}

.email {
	border: 1px solid #141414;
	background-color: #F9F9F9;
	padding: 10px 35px;
	font-size: 16px;
}

.button {
	padding: 10 px 25 px;
	border: 1px;
	font-size: 16px
	color: #141414;
	background-color: #F9F9F9;
}